<!DOCTYPE html>
<html>
<head>
  <title>Yidveo</title>
  <%= stylesheet_link_tag    "yidveo/application", media: "all" %>
  <%= javascript_include_tag "yidveo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
